:root {
  --color-0: #E84AA9;
  --color-1: #F2399D;
  --color-2: #DB2F96;
  --color-3: #E73E85;
  --color-4: #FF7F8E;
  --color-5: #FA5B67;
  --color-6: #E8424E;
  --color-7: #D5332F;
  --color-8: #C23532;
  --color-9: #F2281C;
  --color-10: #D41515;
  --color-11: #9D262F;
  --color-12: #DE3237;
  --color-13: #DA3321;
  --color-14: #EA3A2D;
  --color-15: #EB4429;
  --color-16: #EC7368;
  --color-17: #FF8079;
  --color-18: #FF9193;
  --color-19: #EA5B33;
  --color-20: #D05C35;
  --color-21: #ED7C30;
  --color-22: #EF9933;
  --color-23: #EF8C37;
  --color-24: #F18930;
  --color-25: #F09837;
  --color-26: #F9A45C;
  --color-27: #F2A43A;
  --color-28: #F2A840;
  --color-29: #F2A93C;
  --color-30: #FFB340;
  --color-31: #F2B341;
  --color-32: #FAD064;
  --color-33: #F7CA57;
  --color-34: #F6CB45;
  --color-35: #FFAB00;
  --color-36: #F4C44A;
  --color-37: #FCDE5B;
  --color-38: #F9DA4D;
  --color-39: #F9DA4A;
  --color-40: #FAE272;
  --color-41: #F9DB49;
  --color-42: #FAE663;
  --color-43: #FBEA5B;
  --color-44: #A7CA45;
  --color-45: #B5F13B;
  --color-46: #94E337;
  --color-47: #63C23C;
  --color-48: #86E48E;
  --color-49: #77E39F;
  --color-50: #5FCD8C;
  --color-51: #83F1AE;
  --color-52: #9DEFBF;
  --color-53: #2E9D9A;
  --color-54: #3EB8A1;
  --color-55: #5FC9BF;
  --color-56: #77D3DE;
  --color-57: #6AD1DE;
  --color-58: #5ABAD3;
  --color-59: #4291A8;
  --color-60: #33758D;
  --color-61: #45B2D3;
  --color-62: #81D1EC;
  --color-63: #A7DDF9;
  --color-64: #9AD9FB;
  --color-65: #A4C8EE;
  --color-66: #60B1F4;
  --color-67: #2480BD;
  --color-68: #4576D0;
  --color-69: #3263D0;
  --color-70: #2E4985;
  --color-71: #25438C;
  --color-72: #525EAA;
  --color-73: #3D43B3;
  --color-74: #322F92;
  --color-75: #4A2387;
  --color-76: #371471;
  --color-77: #3B088C;
  --color-78: #6C31D7;
  --color-79: #9741DA;

  /* PRIMARY */
  --primary: var(--color-79);

  /* BASE */
  --green-rgb: 148, 227, 55;
  --green: var(--color-46);
  --red-rgb: 242, 40, 28;
  --red: var(--color-9);

  /* THEMES */
  --color-said: var(--color-66);
  --color-wrote: var(--color-78);
  --color-made: var(--color-1);
  --color-bought: var(--color-48);
  --color-approve: var(--color-46);
  --color-disapprove: var(--color-34);
}
