:--interactive {
  border-radius: var(--size-2);
  border: var(--border-dark);
  text-transform: uppercase;

  &:--highlight {
    box-shadow: var(--border-shadow-lg);
  }

  &:focus,
  &:active {
    box-shadow: 0 0 0 0.1em var(--primary);
  }
}

:--button {
  border: var(--border-dark);

  &.primary {
    background:
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      var(--primary);

    &:--highlight {
      background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
        var(--primary);
    }

    &[disabled]:not([disabled=false]) {
      background:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.69), rgba(0, 0, 0, 0.69)),
        var(--primary);
      color: var(--gray-z-6);
    }
  }

  &.small {
    padding: var(--size-2) var(--size-3);
    font-size: var(--font-sm);

    .icon {
      width: var(--size-3);
      height: var(--size-3);
    }
  }
}

textarea {
  resize: none;
}
