dialog {
  border: var(--border-dark);
  border-radius: var(--size-2);

  > header:first-child {
    border-bottom: var(--border-dark);

    h1 {
      font-size: var(--font-md);
      text-align: center
    }

    + section {
      padding: var(--padding);
    }
  }
}
