:root {
  --primary: #8137C7;

  --green-rgb: 22, 243, 0;
  --green: #16F300;
  --red-rgb: 238, 45, 43;
  --red: #EE2D2B;

  --color-1: #379AF8;
  --color-2: #EE1E77;
  --color-3: #16F300;
  --color-4: #EEB000;
  --color-5: #356DF9;
  --color-6: #EE6A00;

  --color-said: var(--color-1);
  --color-made: var(--color-2);
  --color-approve: var(--color-3);
  --color-disapprove: var(--color-4);
}
